@import '../../public/const.scss';

html,
body {
  max-width: 100vw;
  overflow-x: hidden !important;
  min-height: 100vh;
}

body {
  color: $font;
  background: $body;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  position: relative; 
  
  
  &::before {
    content: '';
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/newYearFon/newYearFon.png");
    opacity: 0.5; 
    z-index: -1; 
    pointer-events: none;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
